<template>
    <money v-model="price"
           v-bind="money"
           :name="name"
           :id="name"
           type="text"></money>
</template>

<script>
    import {Money} from 'v-money';

    export default {
        props: {
            data: {
                default: 0
            },
            name: {
                type: String
            },
            prefix: {
                type: String,
                default: '$'
            }
        },
        data: function() {
            return {
                price: this.data,
                money: {
                    thousands: '.',
                    prefix: this.prefix + ' ',
                    suffix: '',
                    precision: 0,
                    masked: false
                }
            }
        }
    }
</script>