<template>
    <fieldset
            class="form-group col-md-3"
            v-if="type === 'int'">
        <label
                :for="'eq_' + id"
                class="control-label"
                v-html="label"
        ></label>
        <input
                class="form-control"
                type="number"
                min="0"
                :id="'eq_' + id"
                :name="'equipment[' + id + ']'"
                :placeholder="placeholder"
                :value="value">
    </fieldset>
    <fieldset
            class="form-check form-check-inline col-md-3"
            v-else-if="type === 'yesno'">
        <input
                class="form-check-input"
                type="checkbox"
                :id="'eq_' + id"
                :name="'equipment[' + id + ']'"
                :checked="value">
        <label
                :for="'eq_' + id"
                class="form-check-label"
                v-html="label"
        ></label>
    </fieldset>
</template>

<script>
    module.exports = {
        props: {
            id: {
                type: Number
            },
            label: {
                type: String
            },
            type: {
                type: String
            },
            placeholder: {
                type: String,
                default: ''
            },
            value: {
                required: false
            }
        },
        data: function() {
            return {

            }
        }
    }
</script>