<template>
	<div class="input-group">
        <money class="form-control"
               v-bind="money"
               v-model="expenses"
               id="expenses"
               name="expenses"
               type="text"></money>
		<div class="input-group-btn">
			<select class="form-control" name="expenses_range" id="expenses_range" v-model="expensesRange" :disabled="expenses == 0">
				<option value="" disabled="">Elija el rango de expensas</option>
				<option value="mensual">Mensual</option>
				<option value="trimestral">Trimestral</option>
				<option value="cuatrimestral">Cuatrimestral</option>
				<option value="semestral">Semestral</option>
				<option value="anual">Anual</option>
			</select>
		</div>
	</div>
</template>

<script>
    import {Money} from 'v-money';

	export default {
		props: {
			range: {
				type: String,
				default: '',
			},
			amount: {
				type: String,
				default: 0
			},
            data: {
                default: 0
            },
            name: {
                type: String
            },
            prefix: {
                type: String,
                default: '$'
            }
		},
		data: function() {
			return {
				expenses: this.amount,
				expensesRange: this.range,
                price: this.data,
                money: {
                    //decimal: ',',
                    thousands: '.',
                    prefix: this.prefix + ' ',
                    suffix: '',
                    precision: 0,
                    masked: false
                }
			}
		},
        watch: {
		    expenses: function (value) {
		        if(value === 0) {
		            this.expensesRange = '';
                }
            }
        }
	}
</script>