<template>
    <fieldset class="form-group col-md">
        <label :for="name"
               class="control-label"
               v-html="label"
        ></label>
        <select class="form-control"
                v-model="currency"
                :name="name"
                :id="name">
            <option :value="null"
                    v-html="placeholder"></option>
            <option v-for="option in options"
                    :value="option.id"
                    v-html="option.currency + ' (' + option.currency_symbol + ')'"></option>

        </select>
    </fieldset>
</template>

<script>
    module.exports = {
        props: {
            name: {
                type: String
            },
            label: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'Elija una opción'
            },
            options: {
                type: Array
            },
            default: {
                type: Number,
                default: null
            }
        },
        data: function() {
            return {
                currency: this.default
            }
        },
    }
</script>

<style scoped>

</style>