<template>
    <fieldset class="form-group col-md">
        <label :for="name" class="control-label" v-html="label"></label>
        <select class="form-control" :name="name" :id="name" v-model="data" :disabled="disabled" @change="onchange">
            <option :value="0" v-html="placeholder"></option>
            <option v-for="object in collection" :value="object.id">{{ object.name }}</option>
        </select>
    </fieldset>
</template>

<script>
    module.exports = {
        props: {
            label: {
                type: String,
                default: 'Opciones'
            },
            placeholder: {
                type: String,
                default: 'Elija una opción'
            },
            name: {
                type: String,
                required: true,
            },
            collection: {
                type: Array,
                required: true
            },
            callback: {

            },
            selected: {
                required: false
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        data: function() {
            return {
                data: this.callback,
                preselected: this.selected
            }
        },
        methods: {
            onchange: function() {
                this.$emit("onchange", this.data);
            }
        },
        created: function() {
            if(this.selected) {
                this.data = this.preselected;
            }
        }
    }
</script>