<template>
    <fieldset class="form-check form-check-inline col-md">
        <div class="form-check">
            <label
                for="guest_room"
                class="form-check-label"
            >Apartamento de invitados</label>
            <input
                    class="form-check-input"
                    type="checkbox"
                    id="guest_room"
                    name="guest_room"
                    v-model="data">
        </div>
    </fieldset>
</template>

<script>
    module.exports = {
        props: {
            value: {
                type: Boolean,
                required: false
            }
        },
        data: function() {
            return {
                data: false
            }
        },
        created: function() {
            if(this.value) {
                this.data = this.value;
            }
        },
        watch: {
            data: function(value) {
                this.$emit('callback', value);
            }
        }
    }
</script>