<template>
    <span>{{ value | currency(prefix, 0, currencyOptions) + suffix}}</span>
</template>

<script>
    import Vue2Filters from 'vue2-filters'
    export default {
        props: {
            prefix: {
                type: String,
                required: false,
                default: ''
            },
            value: {
                type: Number,
                default: 0,
                required: false
            },
            suffix: {
                type: String,
                required: false,
                default: ''
            }
        },
        data: function() {
            return {
                currencyOptions: {
                    thousandsSeparator: '.',
                    spaceBetweenAmountAndSymbol: true
                }
            }
        }
    }
</script>