<template>
    <!-- Checkbox -->
    <fieldset class="form-group col-md">
        <div class="row">
            <div class="col-md-6">
                <div class="form-check form-check-inline">
                    <input
                            class="form-check-input"
                            type="checkbox"
                            :id="checkbox"
                            :name="checkbox"
                            v-model="data">
                    <label
                            :for="checkbox"
                            class="form-check-label"
                            v-html="label"
                    ></label>
                </div>
            </div><!-- /Checkbox -->

            <!-- Descripción -->
            <div class="col-md-6">
                <label
                        :for="description"
                        class="control-label"
                >Descripci&oacute;n de {{ label }}</label>
                <textarea
                        class="form-control"
                        :name="description"
                        :id="description"
                        v-html="text"
                        :disabled="!data"
                ></textarea>
            </div>
        </div>
    </fieldset><!-- /Descripción -->
</template>

<script>
    module.exports = {
        props: {
            checkbox: {
                type: String
            },
            label: {
                type: String
            },
            checked: {
                type: Boolean,
                required: false
            },
            description: {
                type: String
            },
            text: {
                type: String,
                default: '',
            }
        },
        data: function() {
            return {
                data: false
            }
        },
        created: function() {
            if(this.checked) {
                this.data = this.checked;
            }
        }
    }
</script>

<style scoped>

</style>