<template>
    <div class="col-sm-12 col-md-4 col-lg-3 col-xl">
        <div class="card">
            <img class="card-img-top" src="/themes/default/img/ultimos.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <ul>
                    <li>Operaci&oacute;nn<span class="badge badge-primary">{{ operation }}</span></li>
                    <li>Precio<span class="badge badge-primary">{{ price }}</span></li>
                    <li v-if="tdi == 'house' || tdi == 'apartment'">Dormitorios<span class="badge badge-primary">{{ rooms }}</span></li>
                    <li v-if="tdi == 'house' || tdi == 'apartment'">Baños<span class="badge badge-primary">{{ bathrooms}}</span></li>
                    <div class="text-center"><button type="button" class="btn btn-info btn-sm" @click="openProperty(id)">Ver Detalles</button></div>
                </ul>
            </div>
        </div><!-- /Card -->
    </div>
</template>

<script>
    module.exports = {
        props: {
            operation: {
                type: String,
                default: '',
            },
            price: {
                type: String
                default: ''
            }
        },
        data: function() {
            return {

            }
        }
    }
</script>