<template>
    <div>
        <table class="table table-bordered table-striped text-center"
               :id="name"
               width="100%">
            <thead>
            <tr>
                <th v-for="column in headColumns"
                    v-html="column"></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in rows">
                <td v-if="row.user">
                    <img v-show="row.user.avatar"
                         :src="'/administracion/usuarios/avatar/' + row.user.id"
                         :alt="'Imagen de ' + row.user.name"
                         class="rounded"
                         width="50px">
                    <a :href="'/administracion/usuarios/' + row.user.id"
                       target="_blank"
                       v-html="row.user.name"
                    ></a>
                </td>
                <td v-else>N/A</td>

                <td>
                    <a v-if="row.remote_addr !== '127.0.0.1'"
                       :href="'http://www.ip-tracker.org/locator/ip-lookup.php?ip=' + row.remote_addr"
                       v-html="row.remote_addr"
                       target="_blank"></a>
                    <p v-else>Local</p>
                </td>

                <td>
                    <p v-if="row.country"
                       v-html="row.country"></p>
                    <p v-else>N/A</p>
                </td>

                <td>
                    <a v-if="row.referer"
                       :href="row.referer"
                       target="_blank"
                       v-html="row.referer"></a>
                    <p v-else>N/A</p>
                </td>

                <td>
                    <a v-if="row.request_uri"
                       :href="row.request_uri"
                       target="_blank"
                       v-html="row.request_uri"></a>
                    <p v-else>N/A</p>
                </td>

                <td v-html="row.custom_data.timeago"></td>
            </tr>
            </tbody>
            <tfoot v-show="foot">
            <tr>
                <th v-for="column in headColumns"
                    v-html="column"></th>
            </tr>
            </tfoot>
        </table>
        <nav>
            <ul class="pagination justify-content-center">
                <li v-bind:class="{ 'page-item': true, 'disabled': current === 1}">
                    <a class="page-link"
                       :href="'?page=' + current -1"
                       tabindex="-1"
                    >Anterior</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       v-if="current > from"
                       :href="'?page=' + (current-1)"
                       tabindex="-1"
                       v-html="current-1"
                    ></a>
                </li>
                <li class="page-item active">
                    <a class="page-link"
                       href="#"
                       v-html="current"><span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"
                    v-if="current < lastPage">
                    <a class="page-link"
                       :href="'?page=' + (current+1)"
                       v-html="current+1"
                    ></a>
                </li>
                <li v-bind:class="{ 'page-item': true, 'disabled': current === lastPage}">
                    <a class="page-link"
                       :href="'?page=' + (current+1)"
                       tabindex="-1"
                       :disabled="current === lastPage "
                    >Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    module.exports = {
        props: {
            name: {
                type: String
            },
            headColumns: {
                type: Array,
                default: []
            },
            rows: {

            },
            foot: {
                type: Boolean,
                default: false
            },
            from: {
                type: Number
            },
            to: {
                type: Number
            },
            perPage: {
                type: Number
            },
            lastPage: {
                type: Number
            },
            current: {
                type: Number,
                default: 1
            },
            total: {
                type: Number
            }

        },
        data: function() {
            return {

            }
        }
    }
</script>

<style scoped>

</style>