<template>
    <dropzone id="foo"
              ref="el"
              :options="options"
              :destroyDropzone="true">
        <p class="dz-message">Arrastre las im&aacute;genes en el cuadro o haga clic aqu&iacute;</p>
    </dropzone>
</template>

<script>
    import Dropzone from 'nuxt-dropzone'
    import 'nuxt-dropzone/dropzone.css'

    export default {
        components: {
            Dropzone
        },
        data() {
            return {
                options: {
                    url: 'http://localhost'
                }
            }
        }
    }
</script>