.contacto,.contacto-index {
	background-color: #2c2c2c;
    padding: 5rem 4rem;
    color: #e1e1e1;

    h3 {
		color: #5ebdd9;
	}

    form {
	padding-top: 1rem;
	}

	.ubicacion h3 {
		color: #5ebdd9;
	}
}

.contacto {
	//background-image: url("../../../../content/theme/default/img/fondo-servicios.jpg");

	p, strong {
		color: #919393;
	}
}

