h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
}

#app {
    margin-left: 0!important;
}

.app-body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
}

.btn-info {
    color: #fff;
    background-color: #2980b9;
    border-color: #2980b9;
}

#panel-body {
    margin-left: 350px;
} 

.formulario {
    border-radius: 0px;
}

.nav-side-menu {
    font-size: 15px !important;
}

.nav-side-menu li {
    padding: 8px !important;
}

.nav-side-menu li:hover {
    border-left: 3px solid #4090d5!important;
}

.nav-side-menu ul .active, .nav-side-menu li .active {
    border-left: 3px solid #4090d5!important;
}

.nav-side-menu li a {
    color: #fff!important;
}

.nav-side-menu li a i {
    padding-right: 30px!important;
}

.nav-side-menu .user p a {
    color: #a0a1a2!important;
}

.nav-side-menu {
    color: #a0a1a2!important;
}

.portada {
    min-height: 100vh;
    margin-top: -50px;
    margin-bottom: -50px;
}

#introduccion {
    padding: 1rem 2rem;
}

.portada .row.d-flex.align-items-start {
    margin-top: 4rem;
}

.portada h4 {
    text-shadow: 5px 5px 12px #030303;
    font-weight: 600;
}

.formulario {
    border-radius: 0px;
}

.form-control {
    border-radius: 0;
}

.servicios {
    background-image: url("/public/themes/default/img/fondo-servicios.jpg")!important;
    padding: 5rem 2rem 0rem 2rem!important;
    background-attachment: fixed!important;
}

.multiservicios {
    background-color: rgba(210, 226, 240, 0.47);
    padding: 1rem;
    margin-bottom: 2rem;
}

.multiservicios p {
    color: #848686;
}

.multiservicios h3 {
    padding: 1rem;
}

.multiservicios h4 {
    font-weight: 600;
    font-size: 1.6rem;

}

.multiservicios i {
    padding-right: 0.5rem;

}

.card {
    height: 100%;
}

.card-header {
    padding: 1.25rem;
    background-color: #4f5b69;
    color: #fff;
}

#price-card {
    padding: 0.4rem;
    background-color: #4fa746 !important;
}

.card-footer {
    background-color: #fff;
}

.card-img-top {
    width: 100% !important;
}

.card-deck .card {
    margin-right: 0!important;
    margin-bottom: 0!important;
    margin-left: 0!important;
}

.card-deck .col-sm-12.col-md-3 {
    margin-bottom: 1.8rem;
}

.card-img-overlay {
    padding: 0.7rem;
}

.card-img-overlay {
    bottom: 50%;
}

.card-deck .col-sm-12.col-md-6.col-lg-3 {
    margin-bottom: 2rem;
}

.badge {
    border-radius: 0;
}

#price-card {
    z-index: 4;
    top: 170px;
    left: 5px;
    text-align: left;
    position: inherit;
}

.ultimos-inmuebles .card-deck {
    width: 100%;
}

.ultimos-inmuebles p {
    background-color: #eaeaea;
    padding: 0.5rem;
}

.ultimos-inmuebles .badge {
    background-color: #68a7b1 !important;
    margin-left: 0.3rem;
}

#status-card {
    background-color: #dd524d !important;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1290px!important;
  }
}

.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 100%;
}

.contacto-portada {
    padding: 4rem;
    border-top: 4px solid #636566;
    background-image: url(/public/textura-contacto.png); 
    background-size: 100% 100%;
    background-attachment: fixed;
}

@media (min-width: 400px){
    .contacto-portada {
        padding: 0rem;
    }

    .contacto-portad container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}


#contact-us {
    padding: 1.5rem;
    background-color: rgba(53, 53, 51, 0.7);
}

.input-group-addon {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
        border-right-color: rgb(206, 212, 218);
        border-right-style: solid;
        border-right-width: 1px;
    border-radius: .25rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;
}

.formulario-contacto h3 {
    color: #fff;
}

.formulario-contacto p {
    color: #c9cbcc;
}

.ubicacion h3 {
    color: #fff;
}

.ubicacion p {
    color: #c9cbcc;
}

.footer-contacto strong {
    color: #d4d4d4;
    font-size: 0.9rem;
}

.footer-contacto .material-icons {
    font-size: 18px;
}

.footer-contacto li {
    font-size: 0.9rem;
    padding-top: 10px;
    color: #979798;
}

.footer-contacto a {
    color: #979798;
}

#modalcontacto label {
    color: #f9f8f7;
    font-size: 1rem;
}

.modal-backdrop{
    opacity:0.8 !important;
}

.modal-body {
    padding: 0;
    background-color: #72bed7;
}

.modal-footer {
    border-top: 1px solid #2a393e;
    background-color: #2a393e;
}

#modalcontacto .btn-secondary {
    color: #fff;
    background-color: #4373a4;
    border-color: #3e6389;
}