/********** BUSCADOR ***********/
.portada{
    padding: 5rem 8rem;
	    h1 {
	    	font-weight: 600;
	    	color:#fff;
	    }

	    h4 {
	    	color:#fff;
	    }

	@media (max-width: 340px) {
			padding: 0rem 0rem;
		} 
	@media (max-width: 720px) {
			padding: 1rem 2rem;
		}

		.btn{
			margin-top: 1.2rem;
		}   
}

.formulario {
	background-color: #24618AE6;
	padding: 3rem 2rem;
	border-radius: 4px;
}

#introduccion{
	padding: 5rem 2rem;
}
/********** /BUSCADOR ***********/