/********** ULTIMAS PROPIEDADES ***********/
.ultimos-inmuebles{
	background-color: #ccc;
	padding: 5rem 1rem;

		ul{ 
		padding-left: 5px;
		margin-bottom: 0rem;
	}

		li{
		list-style: none;
	}

		.badge{
		background-color:#7e8895;
		float: inline-end;
		float: inline-end;
		font-size: 0.8rem;
		font-weight: 400;
	}

		button {
		margin-top: 1rem;
	}

		p {
		font-size: 14px;
		color: #6e6e6e;
	}

		h3{
		padding: 2rem 1rem;
		letter-spacing: 2px;
		color: #6e7172;
	}

		h4 {
		font-size: 1.2rem;
	}

		li {
		font-size: 14px;
		color: #424242;
	}

		.card-title {
    	border-bottom: 2px solid #dedbdb;
    	color: #6f7272;
	}

	.card-body {
    padding: 0.7rem;
	}

	.card-deck {
		padding-top: 2rem;
	}
}

/********** /ULTIMAS PROPIEDADES ***********/


