/********** FOOTER ***********/

footer {
	background-color:#212121;
	color: #e4e4e4;

	h5 {
	color: #e4e4e4;
	border-bottom: 3px solid #478bba;
	width: 80%;
	padding: 0.5rem;
	margin-bottom: 2rem;
	}

	.row{
	padding: 4rem 1rem;
	}

	ul {
	list-style:none;
	}

	strong {
		color: #fff;
	}

	img {
		max-width: 300px!important
	}

	.footer-copyright p {
		color: #646464;
		font-size: 14px;
	}
}




/********** /FOOTER ***********/
