/********** HEADER ***********/
.navbar {
	z-index: 1;
}

.navbar-dark .navbar-nav .nav-link {
	color: #e1e1e1;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

@media (min-width: 768px) {
	.navbar {
    padding: 1rem 4rem;
	}
}
/********** /HEADER ***********/
