/********** INMUEBLES ***********/
.inmuebles {
	.portada{
    	padding: 5rem 2rem;
	}
	.container-fluid {
    	width: 100%;
    	padding-right: 0px;
    	padding-left: 0px;
	}
	
}
/********** /INMUEBLES ***********/
