

.gallery .images {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  height: 0;
}
.gallery .images > div,
.gallery .images > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.gallery .images > div {
  opacity: 0;
  background: center no-repeat;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.88s ease;
          transition: all 0.88s ease;
}
.gallery .images > div.active {
  opacity: 1;
}
.gallery .images > span {
  cursor: pointer;
  width: 50px;
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 50px;
  height: 100%;
  line-height: 44px;
}
.gallery .images > span.right {
  left: 100%;
  margin-left: -38px;
}
.gallery .images > span.left {
  padding-left: 10px;
}
.gallery .images > span:before {
  margin-top: -25px;
  top: 50%;
  position: absolute;
  bottom: 0;
}
.gallery .images > span.left:before {
  content: "\00AB";
}
.gallery .images > span.right:before {
  content: "\00BB";
}
.gallery .thumbs {
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.gallery .thumbs > div {
  box-sizing: border-box;
  background: center no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  margin: 4px;
  border: 3px solid transparent;
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: all 0.88s ease;
          transition: all 0.88s ease;
}
@media (max-width: 768px) {
  .gallery .thumbs > div {
    width: 65px;
    height: 65px;
  }
}
.gallery .thumbs > div:before {
  content: '';
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 0 5px 5px 5px;
  position: absolute;
  left: 45px;
  top: -8px;
  -webkit-transition: all 0.88s ease;
          transition: all 0.88s ease;
}
@media (max-width: 768px) {
  .gallery .thumbs > div:before {
    left: 25px;
  }
}
.gallery .thumbs > div.active {
  border-color: silver;
}
.gallery .thumbs > div.active:before {
  border-bottom-color: silver;
}
.gallery {
  max-width: calc((150px*2) + 1em);
  padding: .7rem 0;
  color: #333;
}
@media (min-width: 768px) {
  .gallery {
    max-width: calc((150px*4) + 3em);
  }
}
.gallery__title {
  font-size: 2em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #666;
}
.gallery__intro {
  margin: 0 0 2em;
}
.gallery__intro p {
  line-height: 1.5em;
}
.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery li {
  margin: 0.3rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.gallery li:hover {
  outline: 3px solid #5ebdd9;
}
.gallery img {
   max-width: 120px;
  display: block;
}

.m-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  pointer-events: none;
}
.m-lightbox.is-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 101;
  pointer-events: auto;
}
.m-lightbox__slider {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.m-lightbox__slide {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.m-lightbox__slide img {
  display: block;
  max-width: calc(100vw - 2em);
  max-height: 90vh;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media (min-width: 768px) {
  .m-lightbox__slide img {
    max-width: calc(100vw - 116px);
    max-height: 90vh;
  }
}
.m-lightbox__slide.is-loaded.is-active img {
  opacity: 1;
}
.m-lightbox__slide.is-loaded.is-active .spinner {
  display: none;
}
.m-lightbox button {
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 102;
  background: transparent;
  border: none;
  cursor: pointer;
}
.m-lightbox__close {
  top: 1em;
  right: 1em;
}
.m-lightbox__nextPrev {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 42px;
  height: 42px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.m-lightbox__nextPrev.is-active {
  visibility: hidden;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
@media (min-width: 1024px) {
  .m-lightbox__nextPrev.is-active {
    visibility: visible;
  }
}
.m-lightbox__nextPrev svg {
  display: block;
  width: 100%;
  height: auto;
}
.m-lightbox__nextPrev--next {
  right: 1em;
}
.m-lightbox__nextPrev--prev {
  left: 1em;
}
.m-lightbox__nextPrev:hover {
  cursor: pointer;
}
.m-lightbox__counter {
  position: absolute;
  bottom: 1em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #333;
  font-weight: 700;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.spinner::before, .spinner::after {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
          animation: sk-bounce 2.0s infinite ease-in-out;
}
.spinner::after {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
table h5 {
  text-align: center;
}

.propiedades .table td, .table th {
    padding: .20rem;
    vertical-align: middle;
    border-top: 1px solid #e9ecef;
    font-size: 14px;
}

.table thead th {
   background-color: #3b4957 !important;
    color: #fff;
}

tr h5 {
  margin-top: .5rem;
}

.propiedades span {
    font-size: 14px;
}


.datos-propiedades h3 {
  color: #478bba;
}

.datos-propiedades p {
  color: #919393;
}

.datos-propiedades {
  margin-top: 3rem;
}

#imagen-principal-galeria {
  max-width: 515px !important;
  margin-top: 4rem;
}

.construcciones .titulo {
  background-color: #3b4957 !important;
  color: #fff;
 }

 .construcciones h5 {
  margin-top: .5rem;
  padding: .20rem;
 }

.construcciones .table thead th .bg-info {
  background-color: #17a2b8 !important;
}

