/********** SERVICIOS ***********/
.servicios{
	background-image: url("../../../../content/theme/default/img/fondo-servicios.jpg");
	padding: 5rem 2rem;

	h2{
		padding: 2rem 1rem;
		letter-spacing: 2px;
		color: #478bba;
	}

	h3, h4 {
		color: #478bba;
		font-size: 1.5rem;
	}
	
	p{
		letter-spacing: 0.5px;
		color: #919393;
	}
}
/********** /SERVICIOS ***********/

