@import "_header.scss";
@import "_buscador.scss";
@import "_servicios.scss";
@import "_destacados.scss";
@import "_nosotros.scss";
@import "_inmuebles.scss";
@import "_inmueble.scss";
@import "_contacto-index.scss";
@import "_alquiler.scss";
@import "_footer.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

html {
  min-height:100vh;
}

body {
	font-family: 'Montserrat', sans-serif;
	display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.contenido {
	flex:1;
}

.svg-inline--fa {
    color: #478bba;
}

.badge {
    font-size: 15px;
}

.badge-primary {
    color: #fff;
    background-color: #478bba;
}

